
<div class="card col-lg-8 ">
    <div class="row no-gutters">
        <div class="col-sm-3" style="background: #868e96;">
            <img src="{{repo.owner.avatar_url}}" class="card-img-top h-100" alt="...">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">{{repo.name}}</h5>
                <p class="card-text">{{repo.description}}</p>
                <br>
                <div class="container">
                    <div><a href=""  class="btn btn-primary stretched-link" ><span>{{repo.stargazers_count}} </span>Stars</a></div>
                    <div> <a href="" class="btn btn-primary stretched-link" ><span> {{repo.open_issues }} </span>Issues</a></div>
                    <div> <a>Lorem ipsum dolor sit amet consectetur</a></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

