
.repo-list{
    justify-content: center;
}
.project{
    display: flex;
    width: 700px;
    height: 200;
    position: relative;
    align-items: center;
    justify-content: center;
}
.pagination{
    justify-content: center;
}
.pagination /deep/ .ngx-pagination .current {
    background: rgb(3, 95, 214);
  }